{% extends "twits/base.html" %}

{% block title%} Create Account {% endblock %}

{%  block content %} 
<div class="container">
    <h1>Form</h1>
    <form action="{% url 'register' %}" method="post"> 
        {% csrf_token %}

        <!--<div class="form-group">
            <label>Username : </label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label>Email : </label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label>Password : </label>
            {{ form.password1 }}
        </div>

        <div class="form-group">
            <label>Confirm Password : </label>
            {{ form.password2 }}
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit">
         
        </div> --->
        
        <label for="chk" aria-hidden="true">Sign up</label>
			<!--<input type="text" name="username" placeholder="User name" required="">-->
			<input type="email" name="email" placeholder="Email" required="">
			<input type="password" name="pswd1" placeholder="Password" required="">
            <input type="password" name="pswd2" placeholder="Confirm the password" required="">
			<button>Sign up</button>
            
        {% for message in messages %}
            <script>
                alert({message});
            </script>
            <!--<p>Let's <a href = "{% url 'login' %}">Login</a> here......</p>-->
                
        {% endfor %}
    </form>
</div>

{% endblock %}